:root {
    --default-color: #101010;
    --accent-color: #086972;
    --background-color: #fc0000;
    --heading-color: #000;
    --default-color-rgb: 33, 37, 41;

}

.dashboard-title {
    text-align: center;
    padding-bottom: 60px;
  }
  
  .dashboard-title h2 {
    font-size: 42px;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
  }

.dashboard .dashboard-item {
    position: relative;
    padding-top: 40px;
  }
  
  .dashboard .dashboard-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(var(--default-color-rgb), 0.1);
  }
  
  .dashboard .dashboard-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: var(--accent-color);
  }
  
  .dashboard .dashboard-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .dashboard .dashboard-item .icon i {
    color: rgba(var(--default-color-rgb), 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .dashboard .dashboard-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(var(--accent-color-rgb), 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .dashboard .dashboard-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--default-color);
  }
  
  .dashboard .dashboard-item .title a {
    color: var(--heading-color);
  }
  
  .dashboard .dashboard-item .title a:hover {
    color: var(--accent-color);
    background-color: rgba(69, 69, 69, 0.1);
  }
  .dashboard-item:hover {
    background-color: rgba(0, 60, 172, 0.1);
    border-radius: 10px;
  }
  .dashboard .dashboard-item .description {
    line-height: 24px;
    font-size: 14px;
    color:var(--default-color);
  }